@model AddUserModel
@{
    ViewData["Title"] = "Index";
}

<!--begin::App Main-->
<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6"><h3 class="mb-0">Add User</h3></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add User</li>
                    </ol>
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::App Content Header-->
    <!--begin::App Content-->
    <div class="app-content">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row g-4">
                <!--begin::Col-->
                <div class="col-12">
                    <partial name="_ResponsePartial" />
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-md-6">
                    <!--begin::Quick Example-->
                    <div class="card card-primary card-outline mb-4">
                        <!--begin::Header-->
                        <div class="card-header"><div class="card-title">Add a new User</div></div>
                        <!--end::Header-->
                        <!--begin::Form-->
                        <form asp-antiforgery="true" asp-area="Admin" asp-controller="Users" asp-action="AddUser" method="post">
                            <!--begin::Body-->
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">User Email</label>
                                    <input type="text"
                                           class="form-control"
                                           asp-for="Email"
                                           aria-describedby="emaillHelp" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <div id="emailHelp" class="form-text">
                                        Provide a valid email 
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Password" class="form-label">User Password</label>
                                    <input type="text"
                                           class="form-control"
                                           asp-for="Password"
                                           aria-describedby="passwordHelp" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <div id="passwordHelp" class="form-text">
                                        Provide a Strong Password
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="ConfirmPassword" class="form-label">User Password</label>
                                    <input type="text"
                                           class="form-control"
                                           asp-for="ConfirmPassword"
                                           aria-describedby="ConfirmPasswordHelp" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <div id="ConfirmPasswordHelp" class="form-text">
                                        Enter the same password again
                                    </div>
                                </div>

                            </div>
                            <!--end::Body-->
                            <!--begin::Footer-->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <!--end::Footer-->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Quick Example-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::App Content-->
</main>
<!--end::App Main-->
@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}